<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
!pip install ipython-sql

In [ ]:
%load_ext sql

In [1]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [2]:



import sqlite3

# Create a new SQLite database (or connect to it if it already exists)
connection = sqlite3.connect("space_missions.db")

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Optionally, create a table (e.g., SPACEXTABLE)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS SPACEXTABLE (
        mission_id INTEGER PRIMARY KEY,
        launch_site TEXT,
        mission_name TEXT,
        launch_date DATE
    )
''')

# Commit the changes and close the connection
connection.commit()
connection.close()

print("Database created successfully!")

Database created successfully!

In [13]:
!pip install -q pandas
!pip install ipython-sql

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python3 -m pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.12.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /home/sathish/.local/lib/python3.10/site-packages (from ipython-sql) (8.23.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/sathish/.local/lib/python3.10/site-packages (from ipython-sql) (2.0.35)
Requirement already satisfied: sqlparse in /usr/lib/python3/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/sathish/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/sathish/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /home/sathish/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/sathish/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/sathish/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/sathish/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /home/sathish/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /home/sathish/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/sathish/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /home/sathish/.local/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /home/sathish/.local/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/sathish/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in /home/sathish/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/sathish/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /home/sathish/.local/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Installing collected packages: ipython-genutils, prettytable, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.12.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [6]:
%load_ext sql

In [7]:
%sql sqlite:///space_missions.db

In [22]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [9]:
df

           Date Time (UTC)  ... Mission_Outcome      Landing_Outcome
0    2010-06-04   18:45:00  ...         Success  Failure (parachute)
1    2010-12-08   15:43:00  ...         Success  Failure (parachute)
2    2012-05-22    7:44:00  ...         Success           No attempt
3    2012-10-08    0:35:00  ...         Success           No attempt
4    2013-03-01   15:10:00  ...         Success           No attempt
..          ...        ...  ...             ...                  ...
96   2020-11-05   23:24:23  ...         Success              Success
97   2020-11-16    0:27:00  ...         Success              Success
98   2020-11-21   17:17:08  ...         Success              Success
99   2020-11-25    2:13:00  ...         Success              Success
100  2020-12-06   16:17:08  ...         Success              Success

[101 rows x 10 columns]

**Note:This below code is added to remove blank rows from table**

In [27]:
import pandas as pd
import sqlite3

# Step 1: Read the CSV file into a DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Step 2: Establish a connection to the SQLite database
# If the database does not exist, it will be created
con = sqlite3.connect("space_missions.db")

# Step 3: Insert DataFrame data into SQLite table, creating the table if it doesn't exist
# If the table already exists, it will be replaced
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Step 4: Commit changes and close the connection
con.commit()

# Step 5: Confirm the data is inserted (optional)
result = pd.read_sql("SELECT * FROM SPACEXTBL LIMIT 5", con)
print(result)

# Close the connection
con.close()

print("Data inserted into the SPACEXTBL table successfully!")

         Date Time (UTC)  ... Mission_Outcome      Landing_Outcome
0  2010-06-04   18:45:00  ...         Success  Failure (parachute)
1  2010-12-08   15:43:00  ...         Success  Failure (parachute)
2  2012-05-22    7:44:00  ...         Success           No attempt
3  2012-10-08    0:35:00  ...         Success           No attempt
4  2013-03-01   15:10:00  ...         Success           No attempt

[5 rows x 10 columns]
Data inserted into the SPACEXTBL table successfully!

In [30]:
result

         Date Time (UTC)  ... Mission_Outcome      Landing_Outcome
0  2010-06-04   18:45:00  ...         Success  Failure (parachute)
1  2010-12-08   15:43:00  ...         Success  Failure (parachute)
2  2012-05-22    7:44:00  ...         Success           No attempt
3  2012-10-08    0:35:00  ...         Success           No attempt
4  2013-03-01   15:10:00  ...         Success           No attempt

[5 rows x 10 columns]

In [33]:
con = sqlite3.connect("space_missions.db")

In [25]:
%%sql
CREATE TABLE IF NOT EXISTS SPACEXTABLE (
    mission_id INTEGER PRIMARY KEY,
    launch_site TEXT,
    mission_name TEXT,
    launch_date DATE
);

 * sqlite:///space_missions.db
Done.

[]

In [26]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///space_missions.db
Done.

[]

In [27]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///space_missions.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [35]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Query the unique launch sites
unique_launch_sites = pd.read_sql("SELECT DISTINCT launch_site FROM SPACEXTBL", con)

# Display the unique launch sites
print(unique_launch_sites)

# Close the connection
con.close()

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [36]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Execute the query and retrieve the results
records = pd.read_sql("SELECT * FROM SPACEXTBL WHERE launch_site LIKE 'CCA%' LIMIT 5", con)

# Display the records
print(records)

# Close the connection
con.close()

         Date Time (UTC)  ... Mission_Outcome      Landing_Outcome
0  2010-06-04   18:45:00  ...         Success  Failure (parachute)
1  2010-12-08   15:43:00  ...         Success  Failure (parachute)
2  2012-05-22    7:44:00  ...         Success           No attempt
3  2012-10-08    0:35:00  ...         Success           No attempt
4  2013-03-01   15:10:00  ...         Success           No attempt

[5 rows x 10 columns]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [40]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Check column names of SPACEXTBL
columns = pd.read_sql("PRAGMA table_info(SPACEXTBL);", con)
print(columns[['name']])

# Close the connection
con.close()

                name
0               Date
1         Time (UTC)
2    Booster_Version
3        Launch_Site
4            Payload
5  PAYLOAD_MASS__KG_
6              Orbit
7           Customer
8    Mission_Outcome
9    Landing_Outcome

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [41]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Execute the query and retrieve the result
result = pd.read_sql("SELECT AVG(payload_mass__kg_) AS average_payload_mass FROM SPACEXTBL WHERE booster_version = 'F9 v1.1'", con)

# Display the average payload mass
print("Average Payload Mass (kg) for F9 v1.1 booster:", result.iloc[0]['average_payload_mass'])

# Close the connection
con.close()

Average Payload Mass (kg) for F9 v1.1 booster: 2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [42]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Execute the query and retrieve the result
result = pd.read_sql("SELECT MIN(date) AS first_successful_landing_date FROM SPACEXTBL WHERE landing_outcome = 'Success (ground pad)'", con)

# Display the date
print("First successful landing on ground pad:", result.iloc[0]['first_successful_landing_date'])

# Close the connection
con.close()

First successful landing on ground pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [43]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Execute the query and retrieve the result
result = pd.read_sql(
    """
    SELECT DISTINCT booster_version
    FROM SPACEXTBL
    WHERE landing_outcome = 'Success (drone ship)'
    AND payload_mass__kg_ > 4000
    AND payload_mass__kg_ < 6000
    """, 
    con
)

# Display the booster names
print("Boosters with successful drone ship landing and payload between 4000 and 6000 kg:")
print(result)

# Close the connection
con.close()

Boosters with successful drone ship landing and payload between 4000 and 6000 kg:
  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [44]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Execute the query and retrieve the result
result = pd.read_sql(
    """
    SELECT mission_outcome, COUNT(*) AS total_count
    FROM SPACEXTBL
    GROUP BY mission_outcome
    """,
    con
)

# Display the result
print("Total number of successful and failed mission outcomes:")
print(result)

# Close the connection
con.close()

Total number of successful and failed mission outcomes:
                    Mission_Outcome  total_count
0               Failure (in flight)            1
1                           Success           98
2                          Success             1
3  Success (payload status unclear)            1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [45]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Execute the query and retrieve the result
result = pd.read_sql(
    """
    SELECT booster_version
    FROM SPACEXTBL
    WHERE payload_mass__kg_ = (SELECT MAX(payload_mass__kg_) FROM SPACEXTBL)
    """, 
    con
)

# Display the result
print("Booster versions with the maximum payload mass:")
print(result)

# Close the connection
con.close()

Booster versions with the maximum payload mass:
   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [49]:
import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Execute the query and retrieve the result
result = pd.read_sql(
    """
    SELECT 
        CASE 
            WHEN substr(Date, 6, 2) = '01' THEN 'January'
            WHEN substr(Date, 6, 2) = '02' THEN 'February'
            WHEN substr(Date, 6, 2) = '03' THEN 'March'
            WHEN substr(Date, 6, 2) = '04' THEN 'April'
            WHEN substr(Date, 6, 2) = '05' THEN 'May'
            WHEN substr(Date, 6, 2) = '06' THEN 'June'
            WHEN substr(Date, 6, 2) = '07' THEN 'July'
            WHEN substr(Date, 6, 2) = '08' THEN 'August'
            WHEN substr(Date, 6, 2) = '09' THEN 'September'
            WHEN substr(Date, 6, 2) = '10' THEN 'October'
            WHEN substr(Date, 6, 2) = '11' THEN 'November'
            WHEN substr(Date, 6, 2) = '12' THEN 'December'
        END AS month_name,
        landing_outcome, 
        booster_version,
        launch_site
    FROM SPACEXTBL
    WHERE substr(Date, 0, 5) = '2015' 
      AND landing_outcome = 'Failure'
      AND launch_site LIKE '%Drone Ship%';

    """, 
    con
)

# Display the result
print(result)

# Close the connection
con.close()

Empty DataFrame
Columns: [month_name, Landing_Outcome, Booster_Version, Launch_Site]
Index: []

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [51]:

import pandas as pd
import sqlite3

# Connect to the database
con = sqlite3.connect("space_missions.db")

# Execute the query and retrieve the result
result = pd.read_sql(
    """
    SELECT 
        landing_outcome, 
        COUNT(*) AS outcome_count
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY landing_outcome
    ORDER BY outcome_count DESC;
            """, 
    con
)

# Display the result
print(result)

# Close the connection
con.close()

          Landing_Outcome  outcome_count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

[sathish](https://www.linkedin.com/in/sathish-k12/)

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>